<div class="notification-picture-container">
  <div class="notification-picture-photo-container">
    <img class='notification-photo' src="https://i.ibb.co/1X6ZGp5/avatar-kimberly-smith.webp"
      alt="avatar-kimberly-smith" border="0">
  </div>
  <div class="picture-notification-text">
    <p>Kimberly smith commented on your picture<br>
      2days ago</p>
  </div>
  <div class="notification-picture-photo-container-chess">
    <img class='notification-chess' src="https://i.ibb.co/chxT1gq/image-chess.webp" alt="image-chess" border="0">
  </div>
</div>
