<div class="large-notifications-container">
  <div class="large-notification-photo-container">
    <img class='large-notification-photo' src="https://i.ibb.co/VCDK93Y/avatar-rizky-hasanuddin.webp" alt="avatar-rizky-hasanuddin" border="0">
  </div>
  <div class="large-notification-text">
    <p>Rizky Hasanuddin sent you a private message<br>
    1m ago</p>
    <div class="large-notification-message-container">
      <p class="large-notification-message">Hello. thanks for setting up the Chess Club. I've been a member for a few weeks now and I'm already having lots of fund and improving my game</p>
    </div>
  </div>
</div>
